<html>
<meta name="viewport" content="width=device-width, initial-scale=1">

<head>

  <link rel="stylesheet" href="public/css/bloger.css">
</head>

<body style="background-color: whitesmoke">
  <div id="navbar">
    
    <a href="/">Anasayfa</a>
    <a href="#news">News</a>
    <a href="#contact">Contact</a>

<a><%= mesaj %></a>
  </div>
  
  <div class="dropdown">
      <button class="dropbtn"><a href=""><a href=""><img src="https://img.icons8.com/color/48/000000/user-female-skin-type-3.png"></a></button>
      <div class="dropdown-content">
        <a href="#"><p>pp degistir</p></a>
  
      </div>
  </div>
  <div class="dropdown">
    <button class="dropbtn"><a href=""><img src="https://img.icons8.com/color/48/000000/new-post.png"></a></button>
    <div class="dropdown-content">
      <a href="#"><p>mesaj</p></a>
      <a href="#"><p>mesaj</p></a>
      <a href="#"><p>mesaj</p></a>

    </div>
  </div>
  <div class="dropdown">
      <button class="dropbtn"><a href=""><img src="https://img.icons8.com/nolan/48/000000/bell.png"></a></button>
      <div class="dropdown-content">
        <a href="#"><p>bildirim</p></a>
        <a href="#"><p>bildirim</p></a>
        <a href="#"><p>bildirim</p></a>
  
      </div>
    </div>
  

  <h2>Yeni paylasilanlar ve yazilar</h2>

  <div class="row" style="width: 100%;">
    <div class="column" style="background-color:thistle;">
      <h2>kullanıcı adi</h2>
      <img src="public/images/hair.jpg" alt="" style="width: 60%;">
      <p>Some text..</p>
    </div>
    <div class="column" style="background-color:rgb(112, 89, 112);">
      <h2>Column 2</h2>
      <p>Some text..</p>
    </div>
    <div class="column" style="background-color:thistle;">
      <h2>Column 3</h2>
      <p>Some text..</p>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="column" style="background-color:thistle;">
      <h2>Column 1</h2>
      <p>Some text..</p>
    </div>
    <div class="column" style="background-color:rgb(112, 89, 112);">
      <h2>Column 2</h2>
      <p>Some text..</p>
    </div>
    <div class="column" style="background-color:thistle;">
      <h2>Column 3</h2>
      <p>Some text..</p>
    </div>
  </div>



</body>


</html>