<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="public/css/bloger.css">




<style>
* {
  box-sizing: border-box;
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 33.33%;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
body {
  font-family: Arial;
}

.coupon {
  border: 5px dotted #bbb;
  width: 80%;
  border-radius: 15px;
  margin: 0 auto;
  max-width: 600px;
}

.container {
  padding: 2px 16px;
  background-color: #f1f1f1;
}

.promo {
  background: #ccc;
  padding: 3px;
}

.expire {
  color: red;
}

</style>
</head>
<body>

    <div id="navbar">
        <a href=""><img src="https://img.icons8.com/color/40/000000/user-female-skin-type-3.png"></a>
        <a href=""><img src="https://img.icons8.com/color/48/000000/new-post.png"></a>
        <a href=""><img src="https://img.icons8.com/nolan/48/000000/bell.png"></a>
        <a href="/">Anasayfa</a>
        <a href="#news">News</a>
        <a href="#contact">Contact</a>
        


    </div>

<h2>Fırsatlar</h2>

<div class="row">
  <div class="column" >
      <div class="coupon">
          <div class="container">
            <h3>Dükkan adi</h3>
          </div>
          <img src="public/images/makas.png" alt="Avatar" style="width:50%;height:50%;">
          <div class="container" >
            <h2><b>20% OFF YOUR PURCHASE</b></h2> 
            <p>Lorem ipsum dolor sit amet, et nam pertinax gloriatur. Sea te minim soleat senserit, ex quo luptatum tacimates voluptatum, salutandi delicatissimi eam ea. In sed nullam laboramus appellantur, mei ei omnis dolorem mnesarchum.</p>
          </div>
          <div class="container">
            <p>Use Promo Code: <span class="promo">BOH232</span></p>
            <p class="expire">Expires: Jan 03, 2021</p>
          </div>
        </div>
  </div>
  <div class="column" >
      <div class="coupon">
          <div class="container">
            <h3>Dükkan adi</h3>
          </div>
          <img src="public/images/makas.png" alt="Avatar" style="width:50%;height:50%;">
          <div class="container" >
            <h2><b>20% OFF YOUR PURCHASE</b></h2> 
            <p>Lorem ipsum dolor sit amet, et nam pertinax gloriatur. Sea te minim soleat senserit, ex quo luptatum tacimates voluptatum, salutandi delicatissimi eam ea. In sed nullam laboramus appellantur, mei ei omnis dolorem mnesarchum.</p>
          </div>
          <div class="container">
            <p>Use Promo Code: <span class="promo">BOH232</span></p>
            <p class="expire">Expires: Jan 03, 2021</p>
          </div>
        </div>
  </div>
  <div class="column" >
      <div class="coupon">
          <div class="container">
            <h3>Dükkan adi</h3>
          </div>
          <img src="public/images/makas.png" alt="Avatar" style="width:50%;height:50%;">
          <div class="container" >
            <h2><b>20% OFF YOUR PURCHASE</b></h2> 
            <p>Lorem ipsum dolor sit amet, et nam pertinax gloriatur. Sea te minim soleat senserit, ex quo luptatum tacimates voluptatum, salutandi delicatissimi eam ea. In sed nullam laboramus appellantur, mei ei omnis dolorem mnesarchum.</p>
          </div>
          <div class="container">
            <p>Use Promo Code: <span class="promo">BOH232</span></p>
            <p class="expire">Expires: Jan 03, 2021</p>
          </div>
        </div>
  </div>
</div>

</body>
</html>
